/* import fons from google fons */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Стилі для всіх елементів на сторінці (универсальний селектор) */
* {
    /* Задати зовнішні відступи (margin) для всіх елементів як 0 */
    margin: 0;

    /* Задати внутрішні відступи (padding) для всіх елементів як 0 */
    padding: 0;

    /* Задати тип моделі блоку "border-box" для всіх елементів, що забезпечує коректний розрахунок розміру блоків */
    box-sizing: border-box;

    /* Задати шрифт тексту для всіх елементів як 'Poppins', замість шрифту sans-serif, якщо шрифт 'Poppins' недоступний */
    font-family: 'Poppins', sans-serif;
}


/* Стилі для елемента <body> */
body {
    /* Використовувати flexbox для розміщення дочірніх елементів по горизонталі та центрування їх по горизонталі */
    display: flex;
    justify-content: center;

    /* Використовувати flexbox для розміщення дочірніх елементів по вертикалі та центрування їх по вертикалі */
    align-items: center;

    /* Встановити мінімальну висоту елемента на 100% висоти вікна браузера (viewport height) */
    min-height: 100vh;

    /* Задати фон для елемента, використовуючи зображення "background.jpg", без повторення */
    background: url(./background.jpg) no-repeat;

    /* Задати масштабування фонового зображення, щоб воно заповнювало всю доступну площу елемента */
    background-size: cover;

    /* Встановити позицію фонового зображення по центру елемента */
    background-position: center;
}


/* Стилі для елемента <header> */
header {
    /* Встановити позицію елемента як фіксовану, щоб залишатись на місці при прокрутці сторінки */
    position: fixed;

    /* Вирівняти верхню межу елемента відносно верхнього краю вікна браузера */
    top: 0;

    /* Вирівняти ліву межу елемента відносно лівого краю вікна браузера */
    left: 0;

    /* Встановити ширину елемента на 100% ширини вікна браузера */
    width: 100%;

    /* Задати внутрішні відступи 20px зверху і знизу, 100px зліва і справа */
    padding: 20px 100px;

    /* Закоментована стилізація фону (background), що дозволяє залишити фон пустим або застосувати його пізніше */
    /* background: red; */

    /* Використовувати flexbox для розміщення дочірніх елементів горизонтально та рівномірно розподіляти простір між ними */
    display: flex;
    justify-content: space-between;

    /* Використовувати flexbox для вирівнювання дочірніх елементів вертикально по центру */
    align-items: center;

    /* Встановити значення z-index на 99, щоб елемент знаходився поверх інших елементів на сторінці */
    z-index: 99;
}


/* Стилі для елемента з класом ".logo" */
.logo {
    /* Встановити розмір шрифту 2em (2 рази більше стандартного розміру) */
    font-size: 2em;

    /* Встановити колір тексту #fff (білий) */
    color: #fff;

    /* Заборонити вибір тексту користувачем (user-select) */
    user-select: none;
}


/* Стилі для елементів <a> (посилань) в блоку з класом ".navigation" */
.navigation a {
    /* Встановити позицію елемента як відносну */
    position: relative;

    /* Встановити розмір шрифту 1.1em (1.1 рази більше стандартного розміру) */
    font-size: 1.1em;

    /* Встановити колір тексту #fff (білий) */
    color: #fff;

    /* Відключити підкреслення для посилань */
    text-decoration: none;

    /* Задати товщину шрифту 500 */
    font-weight: 500;

    /* Задати відступ 40px зліва */
    margin-left: 40px;
}


/* Стилі для псевдоелемента "::after" у елементі <a> в блоці з класом ".navigation" */
.navigation a::after {
    /* Додати вміст (content) до псевдоелемента (цей стиль використовується для створення псевдоелемента) */
    content: "";

    /* Встановити позицію псевдоелемента як абсолютну */
    position: absolute;

    /* Вирівняти псевдоелемент по лівому краю елемента <a> */
    left: 0;

    /* Вирівняти псевдоелемент по нижньому краю елемента <a> з відступом відносно нижнього краю на -6px */
    bottom: -6px;

    /* Встановити ширину псевдоелемента на 100% від ширини елемента <a> */
    width: 100%;

    /* Встановити висоту псевдоелемента на 3px */
    height: 3px;

    /* Задати колір фону псевдоелемента на #fff (білий) */
    background: #fff;

    /* Задати радіус межі 5px для створення закруглених кутів */
    border-radius: 5px;

    /* Встановити точку трансформації для псевдоелемента на правому краю */
    transform-origin: right;

    /* Застосувати трансформацію масштабу (scale) зі значенням 0, щоб спочатку псевдоелемент був невидимим */
    transform: scaleX(0);

    /* Задати анімацію тривалістю 0.5 секунди (півсекунди) для плавного змінення стилів при зміні псевдоелемента */
    transition: transform .5s;
}


/* Стилі для псевдоелемента "after" у елементі <a> при наведенні курсору */
.navigation a:hover:after {
    /* Встановити точку трансформації на лівому краї псевдоелемента */
    transform-origin: left;

    /* Застосувати трансформацію масштабу (scale) зі значенням 1 */
    transform: scaleX(1);
}

/* Стилі для елемента з класом ".btnlogin-popup" внутрішньо в блоку з класом ".navigation" */
.navigation .btnlogin-popup {
    /* Встановити ширину елемента на 130px */
    width: 130px;

    /* Встановити висоту елемента на 50px */
    height: 50px;

    /* Встановити прозорий фон для елемента */
    background: transparent;

    /* Додати суцільну лінію з коліром #fff (білий) */
    border: 2px solid #fff;

    /* Відключити виділення елемента при фокусі */
    outline: none;

    /* Задати радіус межі 6px для створення закруглених кутів */
    border-radius: 6px;

    /* Змінити курсор на пальцевий (вказівний) для натискання на кнопку */
    cursor: pointer;

    /* Встановити розмір шрифту 1em */
    font-size: 1em;

    /* Встановити колір тексту #fff (білий) */
    color: #fff;

    /* Задати товщину шрифту 500 */
    font-weight: 500;

    /* Задати відступ 40px зліва */
    margin-left: 40px;

    /* Задати анімацію тривалістю 0.5 секунди (півсекунди) */
    transition: 0.5s;
}

/* Стилі для елемента з класом ".btnlogin-popup" внутрішньо в блоку з класом ".navigation" при наведенні курсору */
.navigation .btnlogin-popup:hover {
    /* Змінити фон на #fff (білий) при наведенні курсору */
    background: #fff;

    /* Змінити колір тексту на #162938 при наведенні курсору */
    color: #162938;
}

/* section Loging */
.wraper {
    /* Встановити позицію елемента як відносну */
    position: relative;

    /* Встановити ширину та висоту елемента */
    width: 400px;
    height: 440px;

    /* Встановити прозорий колір фону (повністю прозорий) */
    background: transparent;

    /* Додати 2-піксельну суцільну межу з полупрозорим білим кольором (rgba) */
    border: 2px solid rgba(225, 225, 225, .5);

    /* Застосувати радіус межі 20px для створення закруглених кутів */
    border-radius: 20px;

    /* Застосувати ефект розмиття до фону з радіусом 20px */
    backdrop-filter: blur(20px);

    /* Додати ефект тіні (тінь блоку) з радіусом розмиття 30px та полупрозорим чорним кольором (rgba) */
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);

    /* Використовувати flexbox для вирівнювання дочірніх елементів по горизонталі до центру */
    display: flex;
    justify-content: center;

    /* Використовувати flexbox для вирівнювання дочірніх елементів по вертикалі до центру */
    align-items: center;
}

/* Стилі для елемента з класом ".wraper" */
.wraper .form-box {
    /* Встановити ширину елемента на 100% */
    width: 100%;

    /* Застосувати внутрішні відступи (padding) 40px */
    padding: 40px;
}


/* Стилі для заголовка h2 в елементі з класом ".form-box" */
.form-box h2 {
    /* Встановити колір тексту #162938 */
    color: #162938;

    /* Встановити розмір шрифту 2em (два рази більше стандартного розміру) */
    font-size: 2em;

    /* Вирівняти текст по центру */
    text-align: center;
}

/* Стилі для елемента з класом ".input-box" */
.input-box {
    /* Встановити позицію елемента як відносну */
    position: relative;

    /* Встановити ширину елемента на 100% */
    width: 100%;

    /* Встановити висоту елемента на 50px */
    height: 50px;

    /* Додати суцільну лінію по нижньому борту елемента з коліром #162938 */
    border-bottom: 2px solid #162938;

    /* Задати відступи 30px зверху та знизу, і 0 зліва та справа */
    margin: 30px 0;
}

/* Стилі для елемента <label> в елементі з класом ".input-box" */
.input-box label {
    /* Встановити позицію елемента як абсолютну */
    position: absolute;

    /* Вирівняти текст вертикально по центру */
    top: 50%;

    /* Вирівняти текст горизонтально зліва на відстані 5px */
    left: 5px;

    /* Здійснити зсув тексту на половину висоти елемента вгору, щоб вирівняти його по центру */
    transform: translateY(-50%);

    /* Встановити розмір шрифту 1em */
    font-size: 1em;

    /* Встановити колір тексту #162938 */
    color: #162938;

    /* Встановити товщину шрифту 500 */
    font-weight: 500;

    /* Заборонити "події курсора" (pointer-events) на елементі, тобто текст не реагуватиме на кліки миші */
    pointer-events: none;

    /* Задати анімацію тривалістю 0.5 секунди (півсекунди) */
    transition: 0.5s;
}

/* Стилі для елемента <input> в елементі з класом ".input-box" при фокусі (потраплянні в фокус) */
.input-box input:focus~label,
/* та коли введено деякий текст у поле вводу (<input> має стан :valid) */
.input-box input:valid~label {
    /* Зсунути текст етикетки вгору при фокусі або коли введено текст у поле вводу */
    top: -5px;
}

/* Стилі для елемента <input> в елементі з класом ".input-box" */
.input-box input {
    /* Встановити ширину елемента на 100% */
    width: 100%;

    /* Встановити висоту елемента на 100% */
    height: 100%;

    /* Встановити прозорий фон для елемента */
    background: transparent;

    /* Заборонити відображення межі для елемента вводу */
    border: none;
}

/* Стилі для елемента з класом ".icon" в елементі з класом ".input-box" */
.input-box .icon {
    /* Встановити позицію елемента як абсолютну */
    position: absolute;

    /* Вирівняти текст горизонтально справа на відстані 8px */
    right: 8px;

    /* Встановити розмір шрифту 1.2em (1.2 рази більше стандартного розміру) */
    font-size: 1.2em;

    /* Встановити колір тексту #162938 */
    color: #162938;

    /* Задати висоту рядка (line-height) рівно 57px */
    line-height: 57px;
}