/* import fons from google fons */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Стилі для всіх елементів на сторінці (универсальний селектор) */
* {
  /* Задати зовнішні відступи (margin) для всіх елементів як 0 */
  margin: 0;

  /* Задати внутрішні відступи (padding) для всіх елементів як 0 */
  padding: 0;

  /* Задати тип моделі блоку "border-box" для всіх елементів, що забезпечує коректний розрахунок розміру блоків */
  box-sizing: border-box;

  /* Задати шрифт тексту для всіх елементів як 'Poppins', замість шрифту sans-serif, якщо шрифт 'Poppins' недоступний */
  font-family: "Poppins", sans-serif;
}

/* Стилі для елемента <body> */
body {
  /* Використовувати flexbox для розміщення дочірніх елементів по горизонталі та центрування їх по горизонталі */
  display: flex;
  justify-content: center;

  /* Використовувати flexbox для розміщення дочірніх елементів по вертикалі та центрування їх по вертикалі */
  align-items: center;

  /* Встановити мінімальну висоту елемента на 100% висоти вікна браузера (viewport height) */
  min-height: 100vh;

  /* Задати фон для елемента, використовуючи зображення "background.jpg", без повторення */
  background: url(./background.jpg) no-repeat;

  /* Задати масштабування фонового зображення, щоб воно заповнювало всю доступну площу елемента */
  background-size: cover;

  /* Встановити позицію фонового зображення по центру елемента */
  background-position: center;
}

/* Стилі для елемента <header> */
header {
  /* Встановити позицію елемента як фіксовану, щоб залишатись на місці при прокрутці сторінки */
  position: fixed;

  /* Вирівняти верхню межу елемента відносно верхнього краю вікна браузера */
  top: 0;

  /* Вирівняти ліву межу елемента відносно лівого краю вікна браузера */
  left: 0;

  /* Встановити ширину елемента на 100% ширини вікна браузера */
  width: 100%;

  /* Задати внутрішні відступи 20px зверху і знизу, 100px зліва і справа */
  padding: 20px 100px;

  /* Закоментована стилізація фону (background), що дозволяє залишити фон пустим або застосувати його пізніше */
  /* background: red; */

  /* Використовувати flexbox для розміщення дочірніх елементів горизонтально та рівномірно розподіляти простір між ними */
  display: flex;
  justify-content: space-between;

  /* Використовувати flexbox для вирівнювання дочірніх елементів вертикально по центру */
  align-items: center;

  /* Встановити значення z-index на 99, щоб елемент знаходився поверх інших елементів на сторінці */
  z-index: 99;
}

/* Стилі для елемента з класом ".logo" */
.logo {
  /* Встановити розмір шрифту 2em (2 рази більше стандартного розміру) */
  font-size: 2em;

  /* Встановити колір тексту #fff (білий) */
  color: #fff;

  /* Заборонити вибір тексту користувачем (user-select) */
  user-select: none;
}

/* Стилі для елементів <a> (посилань) в блоку з класом ".navigation" */
.navigation a {
  /* Встановити позицію елемента як відносну */
  position: relative;

  /* Встановити розмір шрифту 1.1em (1.1 рази більше стандартного розміру) */
  font-size: 1.1em;

  /* Встановити колір тексту #fff (білий) */
  color: #fff;

  /* Відключити підкреслення для посилань */
  text-decoration: none;

  /* Задати товщину шрифту 500 */
  font-weight: 500;

  /* Задати відступ 40px зліва */
  margin-left: 40px;
}

/* Стилі для псевдоелемента "::after" у елементі <a> в блоці з класом ".navigation" */
.navigation a::after {
  /* Додати вміст (content) до псевдоелемента (цей стиль використовується для створення псевдоелемента) */
  content: "";

  /* Встановити позицію псевдоелемента як абсолютну */
  position: absolute;

  /* Вирівняти псевдоелемент по лівому краю елемента <a> */
  left: 0;

  /* Вирівняти псевдоелемент по нижньому краю елемента <a> з відступом відносно нижнього краю на -6px */
  bottom: -6px;

  /* Встановити ширину псевдоелемента на 100% від ширини елемента <a> */
  width: 100%;

  /* Встановити висоту псевдоелемента на 3px */
  height: 3px;

  /* Задати колір фону псевдоелемента на #fff (білий) */
  background: #fff;

  /* Задати радіус межі 5px для створення закруглених кутів */
  border-radius: 5px;

  /* Встановити точку трансформації для псевдоелемента на правому краю */
  transform-origin: right;

  /* Застосувати трансформацію масштабу (scale) зі значенням 0, щоб спочатку псевдоелемент був невидимим */
  transform: scaleX(0);

  /* Задати анімацію тривалістю 0.5 секунди (півсекунди) для плавного змінення стилів при зміні псевдоелемента */
  transition: transform 0.5s;
}

/* Стилі для псевдоелемента "after" у елементі <a> при наведенні курсору */
.navigation a:hover:after {
  /* Встановити точку трансформації на лівому краї псевдоелемента */
  transform-origin: left;

  /* Застосувати трансформацію масштабу (scale) зі значенням 1 */
  transform: scaleX(1);
}

/* Стилі для елемента з класом ".btnlogin-popup" внутрішньо в блоку з класом ".navigation" */
.navigation .btnlogin-popup {
  /* Встановити ширину елемента на 130px */
  width: 130px;

  /* Встановити висоту елемента на 50px */
  height: 50px;

  /* Встановити прозорий фон для елемента */
  background: transparent;

  /* Додати суцільну лінію з коліром #fff (білий) */
  border: 2px solid #fff;

  /* Відключити виділення елемента при фокусі */
  outline: none;

  /* Задати радіус межі 6px для створення закруглених кутів */
  border-radius: 6px;

  /* Змінити курсор на пальцевий (вказівний) для натискання на кнопку */
  cursor: pointer;

  /* Встановити розмір шрифту 1em */
  font-size: 1em;

  /* Встановити колір тексту #fff (білий) */
  color: #fff;

  /* Задати товщину шрифту 500 */
  font-weight: 500;

  /* Задати відступ 40px зліва */
  margin-left: 40px;

  /* Задати анімацію тривалістю 0.5 секунди (півсекунди) */
  transition: 0.5s;
}

/* Стилі для елемента з класом ".btnlogin-popup" внутрішньо в блоку з класом ".navigation" при наведенні курсору */
.navigation .btnlogin-popup:hover {
  /* Змінити фон на #fff (білий) при наведенні курсору */
  background: #fff;

  /* Змінити колір тексту на #162938 при наведенні курсору */
  color: #162938;
}

/* section Loging */
/* Стилі для елемента з класом ".wrapper" */
.wrapper {
  /* Встановити позицію елемента як відносну */
  position: relative;

  /* Встановити ширину та висоту елемента */
  width: 400px;
  height: 440px;

  /* Встановити прозорий колір фону (повністю прозорий) */
  background: transparent;

  /* Додати 2-піксельну суцільну межу з полупрозорим білим кольором (rgba) */
  border: 2px solid rgba(225, 225, 225, 0.5);

  /* Застосувати радіус межі 20px для створення закруглених кутів */
  border-radius: 20px;

  /* Застосувати ефект розмиття до фону з радіусом 20px */
  backdrop-filter: blur(20px);

  /* Додати ефект тіні (тінь блоку) з радіусом розмиття 30px та полупрозорим чорним кольором (rgba) */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

  /* Використовувати flexbox для вирівнювання дочірніх елементів по горизонталі до центру */
  display: flex;
  justify-content: center;

  /* Використовувати flexbox для вирівнювання дочірніх елементів по вертикалі до центру */
  align-items: center;

  /* Приховати зміст, що виходить за межі блоку */
  overflow: hidden;

  /* Застосувати масштабування елемента зі значенням 0, що зробить його невидимим */
  transform: scale(0);

  /* Задати анімацію для зміни масштабу (scale) та висоти (height) елемента з плавністю */
  transition: transform 0.5s ease, height 0.2s ease;
}

/* Стилі для елемента з класом ".wrapper", коли має клас ".active-popup" */
.wrapper.active-popup {
  /* Змінює масштаб елемента на 1, що збільшує його до нормального розміру */
  transform: scale(1);
}

/* Стилі для елемента з класом ".wrapper", коли має клас ".active" */
.wrapper.active {
  /* Змінює висоту елемента на 520px, що збільшує його висоту */
  height: 520px;
}

/* Стилі для елемента з класом ".icon-close" в межах елемента з класом ".wrapper" */
.wrapper .icon-close {
  /* Встановити позицію елемента як відносну в межах батьківського елемента ".wrapper" */
  position: absolute;

  /* Вирівняти верхню межу елемента відносно верхнього краю батьківського елемента ".wrapper" */
  top: 0;

  /* Вирівняти праву межу елемента відносно правого краю батьківського елемента ".wrapper" */
  right: 0;

  /* Встановити ширину та висоту елемента */
  width: 45px;
  height: 45px;

  /* Задати колір фону "#162938" (темно-синій) */
  background: #162938;

  /* Встановити розмір шрифту 2em (2 рази більше стандартного розміру) */
  font-size: 2em;

  /* Задати колір тексту "#fff" (білий) */
  color: #fff;

  /* Використовувати flexbox для розміщення дочірніх елементів по горизонталі та центрування їх */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Застосувати радіус межі 20px з нижньої лівої сторони, щоб створити закруглені кути */
  border-bottom-left-radius: 20px;

  /* Встановити курсор миші на "pointer", щоб показати, що елемент можна натиснути */
  cursor: pointer;

  /* Задати значення z-index на 1, щоб елемент перекривав інші елементи з меншим значенням z-index */
  z-index: 1;
}

/* Стилі для елемента з класом ".wraper" */
.wrapper .form-box {
  /* Встановити ширину елемента на 100% */
  width: 100%;

  /* Застосувати внутрішні відступи (padding) 40px */
  padding: 40px;
}

/* Стилі для елемента з класом ".form-box" та класом ".login" в межах елемента з класом ".wrapper" */
.wrapper .form-box.login {
  /* Застосувати анімацію зміни положення елемента з тривалістю 0.18 секунди та з плавністю */
  transition: transform 0.18s ease;

  /* Встановити початкове положення елемента без зміщення (translateX(0)) */
  transform: translateX(0);
}

/* Стилі для елемента з класом ".form-box" та класом ".login", коли батьківський елемент ".wrapper" має клас ".active" */
.wrapper.active .form-box.login {
  /* Вимкнути анімацію для зміни положення елемента */
  transition: none;

  /* Зсунути елемент вліво на 400px (застосувати зміщення відносно осі X) */
  transform: translateX(-400px);
}

/* Стилі для елемента з класом ".form-box" та класом ".register" в межах елемента з класом ".wrapper" */
.wrapper .form-box.register {
  /* Задати позицію елемента як абсолютну відносно батьківського елемента */
  position: absolute;

  /* Зсунути елемент вправо на 400px (застосувати зміщення відносно осі X) */
  transform: translateX(400px);

  /* Зробити елемент блочним елементом, щоб він займав весь доступний простір */
  display: block;
}

/* Стилі для елемента з класом ".form-box" та класом ".register", коли батьківський елемент ".wrapper" має клас ".active" */
.wrapper.active .form-box.register {
  /* Застосовується анімація для зміни положення елемента з тривалістю 0.18 секунди та з плавністю */
  transition: transform 0.18s ease;

  /* Вимкнути анімацію для зміни положення елемента (застосування "none" скасовує будь-яку анімацію) */
  /* Примітка: якщо об'єкт має першу властивість "transition", а потім зустрічається "none", то це скасовує будь-яку попередню анімацію */
  transition: none;

  /* Зсунути елемент до початкового положення без зміщення (translateX(0)) */
  transform: translateX(0);
}

/* Стилі для заголовка h2 в елементі з класом ".form-box" */
.form-box h2 {
  /* Встановити колір тексту #162938 */
  color: #162938;

  /* Встановити розмір шрифту 2em (два рази більше стандартного розміру) */
  font-size: 2em;

  /* Вирівняти текст по центру */
  text-align: center;
}

/* Стилі для елемента з класом ".input-box" */
.input-box {
  /* Встановити позицію елемента як відносну */
  position: relative;

  /* Встановити ширину елемента на 100% */
  width: 100%;

  /* Встановити висоту елемента на 50px */
  height: 50px;

  /* Додати суцільну лінію по нижньому борту елемента з коліром #162938 */
  border-bottom: 2px solid #162938;

  /* Задати відступи 30px зверху та знизу, і 0 зліва та справа */
  margin: 30px 0;
}

/* Стилі для елемента <label> в елементі з класом ".input-box" */
.input-box label {
  /* Встановити позицію елемента як абсолютну */
  position: absolute;

  /* Вирівняти текст вертикально по центру */
  top: 50%;

  /* Вирівняти текст горизонтально зліва на відстані 5px */
  left: 5px;

  /* Здійснити зсув тексту на половину висоти елемента вгору, щоб вирівняти його по центру */
  transform: translateY(-50%);

  /* Встановити розмір шрифту 1em */
  font-size: 1em;

  /* Встановити колір тексту #162938 */
  color: #162938;

  /* Встановити товщину шрифту 500 */
  font-weight: 500;

  /* Заборонити "події курсора" (pointer-events) на елементі, тобто текст не реагуватиме на кліки миші */
  pointer-events: none;

  /* Задати анімацію тривалістю 0.5 секунди (півсекунди) */
  transition: 0.5s;
}

/* Стилі для елемента <input> в елементі з класом ".input-box" при фокусі (потраплянні в фокус) */
.input-box input:focus~label,
/* та коли введено деякий текст у поле вводу (<input> має стан :valid) */
.input-box input:valid~label {
  /* Зсунути текст етикетки вгору при фокусі або коли введено текст у поле вводу */
  top: -5px;
}

/* Стилі для елемента <input> в межах елемента з класом ".input-box" */
.input-box input {
  /* Встановити ширину елемента на 100%, щоб він займав повну ширину батьківського елемента ".input-box" */
  width: 100%;

  /* Встановити висоту елемента на 100%, щоб він займав повну висоту батьківського елемента ".input-box" */
  height: 100%;

  /* Встановити прозорий фон для елемента, щоб він не мав власного фонового кольору, а батьківський елемент ".input-box" контролював фоновий колір */
  background: transparent;

  /* Заборонити відображення межі для елемента вводу, щоб він не мав видимих меж */
  border: none;

  /* Заборонити відображення зовнішньої межі для елемента вводу, яка активується при отриманні фокусу */
  outline: none;

  /* Задати колір тексту для елемента вводу "#162938" (темно-синій) */
  color: #162938;

  /* Задати жирність шрифту 600, щоб текст був напівжирним */
  font-weight: 600;

  /* Задати внутрішній відступ для тексту в елементі вводу - зліва 5px, зверху та знизу - 0, зправа - 35px */
  padding: 0 35px 0 5px;
}

/* Стилі для елемента з класом ".icon" в елементі з класом ".input-box" */
.input-box .icon {
  /* Встановити позицію елемента як абсолютну */
  position: absolute;

  /* Вирівняти текст горизонтально справа на відстані 8px */
  right: 8px;

  /* Встановити розмір шрифту 1.2em (1.2 рази більше стандартного розміру) */
  font-size: 1.2em;

  /* Встановити колір тексту #162938 */
  color: #162938;

  /* Задати висоту рядка (line-height) рівно 57px */
  line-height: 57px;
}

/* Стилі для елемента з класом ".remember-forgot" */
.remember-forgot {
  /* Задати розмір шрифту 0.9em (90% від розміру текстового елемента, до якого він застосований) */
  font-size: 0.9em;

  /* Задати колір тексту для елемента "#162938" (темно-синій) */
  color: #162938;

  /* Задати жирність шрифту 500 */
  font-weight: 500;

  /* Задати внутрішній відступ: зверху -15px, знизу 15px, зліва та справа - 0. Відступи задаються відносно внутрішнього контенту елемента */
  margin: -15px 0 15px;

  /* Використовувати flexbox для розміщення дочірніх елементів горизонтально зі збереженням простору між ними */
  display: flex;
  justify-content: space-between;
}

/* Стилі для елемента <input>, який знаходиться всередині елемента <label>, який знаходиться всередині елемента з класом ".remember-forgot" */
.remember-forgot label input {
  /* Задати колір акценту для елемента <input> як темно-синій (#162938) */
  accent-color: #162938;

  /* Задати зовнішній відступ справа від елемента <input> на 3px */
  margin-right: 3px;
}

/* Стилі для гіперпосилань <a>, які знаходяться всередині елемента з класом ".remember-forgot" */
.remember-forgot a {
  /* Задати колір тексту для гіперпосилань як темно-синій (#162938) */
  color: #162938;

  /* Заборонити підкреслення для гіперпосилань */
  text-decoration: none;
}

/* Стилі для гіперпосилань <a>, які знаходяться всередині елемента з класом ".remember-forgot" при наведенні курсору */
.remember-forgot a:hover {
  /* Задати підкреслення для гіперпосилань при наведенні курсору */
  text-decoration: underline;
}

/* Стилі для кнопки з класом ".btn" */
.btn {
  /* Встановити ширину кнопки на 100%, щоб вона займала повну ширину батьківського елемента */
  width: 100%;

  /* Встановити висоту кнопки на 45px */
  height: 45px;

  /* Задати колір фону кнопки як темно-синій (#162938) */
  background: #162938;

  /* Заборонити відображення межі для кнопки, щоб вона не мала видимих меж */
  border: none;

  /* Заборонити відображення зовнішньої межі для кнопки, яка активується при отриманні фокусу */
  outline: none;

  /* Задати радіус межі 6px для створення закруглених кутів кнопки */
  border-radius: 6px;

  /* Змінити курсор миші на пальцевий показчик, щоб підказати, що кнопку можна натиснути */
  cursor: pointer;

  /* Задати розмір шрифту для тексту на кнопці як 1em (розмір шрифту відповідає розміру шрифту для основного тексту) */
  font: 1em;

  /* Задати колір тексту на кнопці як білий (#fff) */
  color: #fff;

  /* Задати жирність шрифту для тексту на кнопці як 500 */
  font-weight: 500;
}

/* Стилі для елемента з класом ".login-register" */
.login-register {
  /* Задати розмір шрифту для тексту елемента як 0.9em (90% від розміру текстового елемента, до якого він застосований) */
  font-size: 0.9em;

  /* Задати колір тексту для елемента як темно-синій (#162938) */
  color: #162938;

  /* Задати вирівнювання тексту в центрі елемента */
  text-align: center;

  /* Задати жирність шрифту для тексту елемента як 500 */
  font-weight: 500;

  /* Задати зовнішній відступ: зверху 25px, знизу 0, зліва та справа - 10px. Відступи задаються відносно внутрішнього контенту елемента */
  margin: 25px 0 10px;
}

/* Стилі для гіперпосилань <a>, які знаходяться всередині абзацу <p>, який знаходиться всередині елемента з класом ".login-register" */
.login-register p a {
  /* Задати колір тексту для гіперпосилань як темно-синій (#162938) */
  color: #162938;

  /* Заборонити підкреслення для гіперпосилань */
  text-decoration: none;

  /* Задати жирність шрифту для гіперпосилань як 600 */
  font-weight: 600;
}

/* Стилі для гіперпосилань <a>, які знаходяться всередині абзацу <p>, який знаходиться всередині елемента з класом ".login-register" при наведенні курсору */
.login-register p a:hover {
  /* Задати підкреслення для гіперпосилань при наведенні курсору */
  text-decoration: underline;
}
